.root {
  border: 1px solid rgb(var(--foreground-rgb));
  padding: 16px;
  border-radius: 16px;
  display: inline-flex;
  position: relative;
}

.root[data-theme-id='0'] {
  background-color: rgb(255, 255, 200);
  color: rgb(40, 40, 40);
}

.root[data-theme-id='1'] {
  background-color: rgb(200, 255, 200);
  color: rgb(40, 40, 40);
}

.root[data-theme-id='2'] {
  background-color: rgb(255, 200, 255);
  color: rgb(40, 40, 40);
}

.form {
  display: contents;
}

.textArea {
  background: transparent;
  border: none;
  color: rgb(40, 40, 40);
}
.colors {
  display: flex;
  flex-direction: column;
}

.colorRadio[data-theme-id='0'] {
  accent-color: rgb(255, 255, 200);
}

.colorRadio[data-theme-id='1'] {
  accent-color: rgb(200, 255, 200);
}

.colorRadio[data-theme-id='2'] {
  accent-color: rgb(255, 200, 255);
}

.user {
  position: absolute;
  bottom: 0;
  right: 0;
}
